.navigation {
  display: flex;
  bottom: 0;
  position: absolute;
  bottom: 100px;
  color: rgb(41, 41, 41);
}

.navigation .nav-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: rgb(41, 41, 41);
}
.navigation .nav-btn:focus {
  outline: none;
}

.navigation p {
  margin: 0 25px;
}

@media (min-width: 500px) {
  .navigation {
    bottom: 10%;
  }
}
